.page {
    position: relative;
    width: 1440px;
    height: 1024px;

    background: linear-gradient(180deg, #F2D16D 0%, #D94D1A 69.19%);
}

.main {
    position: absolute;
    width: 433px;
    height: 324px;
    left: 503px;
    top: 214px;

    background: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.title {
    position: absolute;
    width: 308px;
    height: 38px;
    left: 568px;
    top: 261px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.17em;
    text-transform: uppercase;

    color: #000000;


}

.line {
    position: absolute;
    width: 303px;
    height: 2px;
    left: 568px;
    top: 296px;

    background: linear-gradient(90deg, #F2D16D 0%, #D94D1A 100%);
}

.email {
    position: absolute;
    width: 150px;
    height: 30px;
    left: 645px;
    top: 341px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height */


    color: #000000;
}

button {

    position: absolute;
    width: 130px;
    height: 42px;
    left: 655px;
    top: 430px;

    background: linear-gradient(90deg, #D94D1A 0%, #D94E1A 22.4%, #F2D16D 100%);
    filter: blur(0.5px);
    border-radius: 25px;
    border: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.17em;
    text-transform: uppercase;

    color: #FFFFFF;
}